<div class="container">
  <div class="row m-3">
    <div class="col-6">
      <h4>商品一覧</h4>
    </div>
    <div class="col-4">
      <%= link_to  new_admin_item_path do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @items%>
      </div>
  </div>
</div>
