<div class="m-3">
  <div class="col offset-md-2">
    <h4>商品新規登録</h4>
  </div>
</div>

<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  <%= form_with model: Item.new, url: admin_items_path, method: :post do |f| %>
  <div class="form-group">
    <label for="image_image">商品画像</label>
    <%= f.file_field :profile_image, accept: "image/*", class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <label for="item_name">商品名</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="item_introduction">商品説明</label>
    <%= f.text_area :introduction, class: 'form-control'%>
  </div>
  <div class="form-group">
    <label for="price">税抜価格</label>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <div class="row justify-content-md-center">
    <div class="form-group">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>

  <% end %>
</div>