<div class="container">
  <h1>注文履歴一覧</h1>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
    <tbody>
      <%  @orders.each do |order| %>
        <tr>
          <td>
            <%= l order.created_at %>
          </td>
          <td>
            <%= link_to admin_order_path(order.id) do %>
              <%= order.customer.first_name %><%= order.customer.last_name %>
            <% end %>
          </td>
          <td><%= order.order_details.sum(:number) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @orders %>
    </div>
  </div>
</div>