<h1>注文履歴一覧</h1>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>注文金額</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= l order.created_at %></td>
        <td>
            〒<%= order.postcode %><br>
            <%= order.address %><br>
            <%= order.name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %>
          <% end %>
        </td>
        <td><%= order.total_amount %></td>
        <td><%= link_to "詳細", order_path(order.id), class:"btn btn-success btn-sm" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>