<div class="container">
  <div class="row m-3">
    <div class="col-6">
      <h4>注文情報入力</h4>
    </div>
  </div>
  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    <h5>支払い方法</h5>
      <p>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
       <br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </p>
    <h5>お届け先</h5>
      <%= f.radio_button :address_option, 0, checked: "checked" %>
      <%= f.label :oeder_address, "ご自身の住所" %>
     <br>
      〒<%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
     <br>
       <%= f.radio_button :address_option, 1 %>
       <%= f.label :order_address, "新しいお届け先" %>
     　<table>
         <tr>
           <td><%= f.label :postcode, "郵便番号(ハイフンなし)" %></td>
           <td><%= f.text_field :postcode %></td>
        </tr>
        <tr>
           <td><%= f.label :address, "住所" %></td>
           <td><%= f.text_field :address %></td>
        </tr>
         <tr>
           <td><%= f.label :name, "宛名" %></td>
           <td><%= f.text_field :name %></td>
         </tr>
     </table>

     <div class="d-flex justify-content-center p-3">
        <%= f.submit "確認画面に進む", class:"btn btn-primary" %>
     </div>

  <%end%>
</div>