  <div class="row m-3">
    <div class="col offset-md-2">
      <h4>顧客ログイン</h4>
    </div>
  </div>

  <div class="row m-3">
    <div class="col offset-md-2">
      <h5>会員の方はこちらからログイン</h5>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="row m-3">
    <div class="col offset-md-2">
      <h5>会員登録がお済みでない方</h5><br>
      <p><%= link_to  "こちら", new_customer_registration_path %>から新規登録を行なってください</p>
    </div>
  </div>

